.calendar{
    position: relative;
}

.calendar__table{
    width: 100%;
    height: calc(100vh - 128px);
}

.calendar__table td{
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__table--5weeks td{
    height: 16.66%;
}

.calendar__weekday{
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

.calendar__othermonth .calendar__day{
opacity: 0.3;

}

.calendar__button{
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    background-color: #007bff;
    border-radius:50%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    transition : transform 0.3s;
}

.calendar__button:hover{

    transform: scale(1.2);

}